.auth__form {
  width: 570px;
  height: 550px;
  margin: auto;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 2%);
}

.auth__form__wrap {
  width: 540px;
  margin: auto;
}

.auth__form__title {
  width: 120px;
  font-size: 25px;
  font-weight: 600;
  margin: auto;
  padding-top: 40px;
  color: #5e5c74;
}

.sign__up {
  width: 410px;
}

.email__input {
  width: 410px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: #f1f4f7;
  font-size: 16px;
  padding-left: 15px;
  margin-top: 40px;
  margin-left: 60px;
}

.emailError {
  color: red;
  margin-left: 65px;
  margin-top: 10px;
}

.password__input {
  width: 410px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: #f1f4f7;
  font-size: 16px;
  padding-left: 15px;
  margin-top: 15px;
  margin-left: 60px;
}

.input__type__wrapper {
  display: flex;
  justify-content: space-between;
}

.eyeBtn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 25px;
  margin-top: 29px;
  margin-left: -100px;
}

.passwordError {
  color: z  ;
  margin-left: 65px;
  margin-top: 10px;
}

.register__button {
  width: 428px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: rgb(15, 15, 93);
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 20px;
  cursor: pointer;
}

.auth__href {
  width: 100px;
  margin-left: 220px;
  font-size: 20px;
  text-decoration: none;
}

.auth__form__social {
  width: 28px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.auth__form__social a {
  width: 28px;
}

.auth__form__social a img {
  width: 100%;
  height: 28px;
  object-fit: contain;
}

.profile__terms {
  width: 400px;
  margin: auto;
  margin-top: 20px;
  color: #b2b6bc;
  line-height: 25px;
  text-align: center;
}

.profile__terms a {
  color: #02a0ea;
  text-decoration: none;
}
