.description_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(45deg,rgb(8, 136, 78), rgb(20, 97, 81));
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.test_text {
  font-size: 30px;
  padding-bottom: 50px;
}
.test_description {
  font-size: 20px;
  width: 500px;
  line-height: 30px;
  margin-bottom: 30px;
}
.link_buttons {
  width: 380px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.start {
  display: block;
  width: fit-content;
  color: white;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(rgba(46, 91, 86, 1), rgba(33, 85, 69, 1));
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.626);
  cursor: pointer;
  text-decoration: none;
  padding: 15px 50px;
  transition: .3s;
  position: relative;
  overflow: hidden;
}
.start:hover {
  transform: translateY(-5px);
}
.start::before {
  position: absolute;
  content: '';
  bottom: -50px;
  left: -50px;
  background-color: rgba(8, 136, 78, 0.28);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: .3s;
}
.start:hover::before {
  transform: scale(10);
}