.footer {
  background-image: linear-gradient(90deg, rgba(66, 66, 66, 1), rgba(51, 49, 49, 1));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer_logo_name {
  font-size: 60px;
  font-weight: 400;
  font-family: 'Quantico', sans-serif;
  cursor: default;
}
footer p {
  font-size: 15;
  width: 400px;
  margin-top: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  cursor: default;
}
.icons {
  display: block;
  font-size: 25px;
  margin-top: 35px;
}
.icons svg {
  margin-right: 10px;
  cursor: pointer;
}
.lists_wrap {
  display: flex;
  justify-content: space-between;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.list li {
  width: fit-content;
  margin: 10px 0 0 0;
  cursor: pointer;
  font-size: 14px;
}
.list:first-child li {
  margin-right: 100px;
}
.list li:hover {
  color: rgb(10, 120, 67);
}
@media (max-width: 1280px) {
  .lists_wrap {
    display: none;
  }
  .footer_info {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 960px) {
  .footer_info p {
    display: none;
  }
  .footer_info {
    width: 600px;
  }
}
@media (max-width: 414px) {
  .footer_info h1{
    display: none;
  }
  .icons {
    margin: 10px auto 0 auto;
    padding: 20px 0;
  }
}