.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(45deg,rgb(8, 136, 78), rgb(20, 97, 81));
  color: white;
  font-family: sans-serif;
}
.question_text {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.answers_section {
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.answer_button {
  width: 200px;
  display: block;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  color: rgb(59, 57, 57);
  cursor: pointer;
  word-break: break-all;
  transition: .3s;
  position: relative;
  overflow: hidden;
}
.answer_button:hover {
  transform: translateY(-3px);
}
.answer_button::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(10, 163, 99, 0.366);
  bottom: -100px;
  left: -100px;
  transition: .1s;
}
.answer_button:active::before {
  transform: scale(10);
}
.answer_button:active {
  transform: none;
}
.your_results {
  font-size: 25px;
  margin-bottom: 20px;
}
.result {
  font-size: 18px;
  margin-bottom: 20px;
}
.ap {
  background-image: linear-gradient(45deg,rgb(8, 136, 78), rgb(20, 97, 81));
  color: white;
  font-family: sans-serif;  
}
.section_score {
  width: 500px;
  margin: auto;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.refresh_btn {
  width: 200px;
  display: block;
  color: white;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(rgba(46, 91, 86, 1), rgba(33, 85, 69, 1));
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.626);
  cursor: pointer;
  padding: 10px;
  transition: .3s;
  overflow: hidden;
}
.refresh_btn:hover {
  transform: translateY(-3px);
}
.refresh_btn::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(10, 163, 99, 0.366);
  bottom: -100px;
  left: -100px;
  transition: .4s;
}
.refresh_btn:hover::before {
  transform: scale(10);
}
.question_wrapper {
  border-bottom: 2px dashed rgb(255, 255, 255);
  padding-bottom: 10px;
  margin-top: 10px;
}
.result_btns {
  width: 450px;
  display: flex;
  margin: 20px auto 20px auto;
  text-align: center;
  justify-content: space-between;
}
.back-tests {
  text-decoration: none;
  text-align: center;
  width: 200px;
  display: block;
  color: white;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(rgba(46, 91, 86, 1), rgba(33, 85, 69, 1));
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.626);
  cursor: pointer;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.refresh_btn:hover {
  transform: translateY(-3px);
}
.back-tests::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(10, 163, 99, 0.366);
  bottom: -100px;
  left: -100px;
  transition: .4s;
}
.back-tests:hover::before {
  transform: scale(10);
}
.quest_name {
  padding-top: 10px;
}
.bbb {
  color: red;
}
.truth {
  color:limegreen;
}